<header class="header">
  <nav class="navbar">
    <div class="logo">
      <img src="/Content/images/Ant team_Logo_Def_Whitecontour_small.png" alt="Ant Team" class="logo-img" />       
    </div>
    <ul class="nav-menu font-ant">
      <li><a href="#home" class="nav-link" [class.active]="currentSection === 'home'">Home</a></li>
      <li><a href="#gallery" class="nav-link hidden" [class.active]="currentSection === 'gallery'">Gallery</a></li>
      <li><a href="#about" class="nav-link" [class.active]="currentSection === 'about'">About Us</a></li>
      <li><a href="#contact" class="nav-link" [class.active]="currentSection === 'contact'">Contact</a></li>
    </ul>
  </nav>
</header>
